.changePasswoedContianer {
  .chagnePasswordBody {
    height: 400px;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    .titeleChagePassword {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-weight: bold;
      color: rgb(177, 173, 169);
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .errorMessage {
      color: red;
    }
    .btnChangePassword {
      button {
        border: none;
        // padding: 7px 26px;
        text-align: center;
        color: rgb(228, 74, 13);
        border-radius: 10px;
        cursor: pointer;
        height: 45px;
        width: 200px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
      }
      button:hover {
        color: rgb(235, 21, 235);
        font-weight: bold;
        font-size: 18px;
        background-color: rgb(243, 237, 237);
      }
    }
  }
}
